{% extends 'submission.html.twig' %}

{% block projectbarcontent %}
  <span>
    <span class="project-author">
      Welcome to
    </span>
    <span class="project-title">
      Home Cinema
    </span>
  </span>
{% endblock %}

{% block screenings %}{% endblock %}
{% block artistbio %}{% endblock %}
{% block metatable %}{% endblock %}
