{% extends 'submission.html.twig' %}

{% block projectbarcontent %}
  <span>
    <span class="project-author">
      {{page.header.titleleft}}
    </span>
    <span class="project-title">
      {{page.header.titleright}}
    </span>
  </span>
{% endblock %}

{% block screenings %}{% endblock %}
{% block artistbio %}{% endblock %}
{% block metatable %}{% endblock %}
