/* font */
@font-face {
  font-family: CineType;
  src: url(../fonts/GTCinetypeRegular.otf);
  font-weight: normal;
}
@font-face {
  font-family: CineType;
  src: url(../fonts/GTCinetypeBold.otf);
  font-weight: bold;
}



/* variables */
:root{
  /* type */
  --type-small: 12px;
  --type-reg: 16px;
  --type-big: 20px;

  /* color */
  --color1: black; /* black */
  --color2: #693220; /* brown, dark */
  --color3: #FCD3DA; /* pink */
  --color4: #FFF0E9; /* beige */
  --color5: #FF1A41; /* red */
  --color6: #A1D2FF; /* blue */
  --color7: #00FF67; /* green */
  --color8: #FF7B22; /* orange */
  --color9: white; /* white */

  /* margins */
  --margin: 10px;
  --marginhalf: calc( var(--margin) / 2 );
  --marg2x: calc( 2 * var(--margin) );
  --marg3x: calc( 3 * var(--margin) );

  /* animation */
  --transition-short: .1s;
  --transition-med: .3s;
  --transition-long: .8s;
}
.light{

}
body.dark{
  --color1: white; /* black */
  --color2: #E1CFC6; /* brown, dark */
  --color3: #554A46; /* pink */
  --color4: #131312; /* beige */
  --color5: #1AFFF1; /* red */
  --color6: #FBC357; /* blue */
  --color7: #4371EA; /* green */
  --color8: #DD5442; /* orange */
  --color9: black; /* white */
}



/* Core Stuff */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: var(--type-reg);
  line-height: 1.25;
  letter-spacing: -0.015em;
  background: var(--color4);
  color: var(--color1);
  font-family: CineType, arial, helvetica, sans-serif;
}
a {
  color: var(--color1);
}
hr{
  border: none;
  border-bottom: 1px solid var(--color1);
  margin: var(--margin) 0;
}
.hide{
  display: none;
}



/* Light mode/Dark mode */
.light .dashboard .mode .dark{
  display: none;
}
.dark .dashboard .mode .light{
  display: none;
}
.light .logo.left .dark{
  display: none;
}
.dark .logo.left .light{
  display: none;
}



/* menu/navigation */
.header{
  border-bottom: 1px solid var(--color1);
  position: fixed;
  width: 100%;
  top: 0;
  background: inherit;
  z-index: 2;
}
.header .wrapper{
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--margin);
}
.header .logo.left{
  width: 7em;
}
.header .logo.left img{
  margin-bottom: calc( var(--marg2x) * -1 );
  max-width: 5em;
}
.header .context{
  display: none;
  color: var(--color5);
}
.header #toggle-menu{
  background: none;
  border: none;
  width: 7em;
  text-align: right;
  padding: 0;
  margin: 0;
}
.header .light-dark{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .light-dark .label svg{
  height: 1.25em;
  margin-bottom: -.4em;
}
.label.light{
  color: var(--color8);
}
.label.dark{
  color: var(--color7);
}
/* dark/light switch */
/* The switch - the box around the slider */
.light-dark .switch {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1.25em;
}
/* Hide default HTML checkbox */
.light-dark .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.light-dark .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color9);
  border: 1px solid var(--color1);
}
.light-dark .slider:before {
  position: absolute;
  content: "";
  height: calc(1.25em - 2px);
  width: calc(1.25em - 2px);
  left: 0;
  bottom: 0;
  background-color: var(--color2);
  transition: transform var(--transition-short);
}
.light-dark input:checked + .slider:before {
  transform: translateX(calc(2em - 1.25em));
}
/* Rounded sliders */
.light-dark .slider.round {
  border-radius: 1.25em;
}
.light-dark .slider.round:before {
  border-radius: 100%;
}
/* Actual Menu */
nav.main-nav{
  position: fixed;
  top: var(--margin);
  right: var(--margin);
  padding: var(--marg2x);
  background: var(--color7);
  border-radius: var(--margin);
  max-width: calc( 100% - 2 * var(--margin));
  z-index: 3;
}
nav.main-nav a{
  text-decoration: none;
}
nav.main-nav .selected{
  font-weight: bold;
}
nav.main-nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav.main-nav li{
  margin-bottom: var(--marg2x);
}
nav.main-nav li:last-of-type{
  margin-bottom: 0;
}
nav.main-nav img{
  width: 100%;
  margin-right: calc( var(--margin) * -1);
  margin-left: var(--margin);
  padding-left: 4em;
  margin-top: -3em;
  position: relative;
  z-index: -1;
}
nav .close-menu{
  font-size: var(--type-big);
  position: absolute;
  top: 0;
  right: var(--marg2x);
  height: calc(5 * var(--type-reg) - var(--marg2x));
  padding: 0;
  margin: 0;
  line-height: 0;
  background: 0;
  border: 0;
}



/* Body */
#body .wrapper{
  background: var(--color4);;
  position: relative;
  z-index: 1;
  padding: var(--margin);
}
/* Top Section */
.top-section{
  margin-top: 5em;
}
.top-section .dashboard{
  background: var(--color3);
  display: flex;
  padding: var(--margin);
  flex-wrap: wrap;
}
.top-section .intro{
  font-size: var(--type-big);
  width: 100%;
}
.top-section .navigation{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.top-section .navigation ul{
  list-style: none;
  padding: var(--margin) 0;
  margin: var(--margin) 0;
  text-align: center;
}
.top-section .navigation .mode{
  order: -1;
  width: 50%;
  padding-right: .5em;
}
.top-section .navigation .mode .label{
  height: 3em;
  padding-bottom: .5em;
}
.top-section .navigation .mode svg{
  height: 100%;
  width: 100%;
}
.top-section .navigation .location{
  order: 1;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-section .navigation .location li:first-of-type{
  background: var(--color6);
  border-radius: 100%;
  padding: .75em 1.5em;
  margin-bottom: .25em;
  color: var(--color9);
}
.top-section .navigation .enter{
  width: 50%;
  padding-left: .5em;
}
.top-section .navigation .enter li:first-of-type{
  height: 3em;
  padding-bottom: .5em;
}
.top-section .navigation .enter button{
  width: 100%;
  max-width: 9em;
  height: 100%;
  background: var(--color5);
  border: 0;
  color: var(--color9);
}
.top-section .intro p{
  margin: 0;
}
.top-section .intro em{
  font-style: normal;
  color: var(--color5);
}
.top-section .location li:first-of-type{
  font-size: var(--type-reg);
}
.cinema-button, .chat-button{
  font-size: var(--type-reg);
}
.top-section .playorder{
  display: none;
}
.top-section .now-playing{
  margin: 0;
  padding: var(--margin) 0;
  background: var(--color2);
  border: 1px solid var(--color1);
  color: var(--color9);
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  font-size: var(--type-big);
}
.top-section .now-playing .playing-info{
  white-space: nowrap;
  width: max-content;
  /* show the marquee just outside the paragraph */
  will-change: transform;
  animation: marquee 20s linear infinite;
  margin-left: .25em;
}
.top-section .now-playing:hover .playing-info{
  animation-play-state: paused
}
.top-section .now-playing em{
  color: var(--color7);
}
@keyframes marquee {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}



/* Tables */
.table-header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--margin) 0;
  background: var(--color2);
  color: var(--color9);
  border: 1px solid var(--color1);
}
.movie-table{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: var(--margin);
}
.movie-table>.table-line{
  border: 1px solid var(--color1);
  border-top: none;
}
.movie-table .table-line.first{
  display: none;
}
.movie-table .block.table-line.first{
  display: block;
}
.movie-table .table-line ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  align-content: center;
}
.movie-table .table-line .block-table{
  flex-direction: column;
}
.movie-table .table-line{
  height: 5em;
  position: relative;
  background: var(--color9);
}
.movie-table>.table-line:nth-child(even){
  background: var(--color3);
}
.movie-table a{
  text-decoration: none;
}
.movie-table .table-line img{
  position: absolute;
  top: 0;
  left: 0;
  height: calc( 5em - 1px );
  width: calc( 5em / 9 * 16 ); /* 8.8888888888em */
  object-fit: cover;
}
.movie-table .table-line ul .department-start,
.movie-table .table-line ul .title,
.movie-table .table-line ul .author {
  margin-left: calc(8.8888 * var(--type-reg) + var(--margin));
}
.movie-table .table-line ul .title,
.movie-table .table-line ul .author {
  width: 100%;
}
.movie-table .table-line ul>*:last-child{
  margin-left: .5em;
}
.movie-table .table-line ul .department-start, .movie-table .table-line ul .duration{
  font-size: var(--type-small);
  order: -1;
}
.movie-table .title{
  text-decoration: underline;
}
.movie-table .block.table-line{
  height: auto;
}
.movie-table .table-line ul .block{
  margin-left: 0;
}
.movie-table .table-line .block-table{
  margin: var(--margin);
  border-top: 1px solid var(--color1);
}
.movie-table .block-table .table-line{
  height: 5em;
  border: 1px solid var(--color1);
  border-top: none;
  width: 100%;
  background: inherit;
}
.movie-table .block-table .table-line:not(.first){
  background: var(--color6);
}
.movie-table .block-table img{
  width: calc( 5 * var(--type-reg) / 9 * 16 - var(--margin) - 1px);
}
.movie-table .table-line .block-table .title,
.movie-table .table-line .block-table .author,
.movie-table .table-line .block-table .duration{
  margin-left: calc( 5 * var(--type-reg) / 9 * 16 - 1px);
}
.movie-table .table-line .block-table .title{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.movie-table .table-line .block-table .first{
  padding: 0 var(--margin);
}
.movie-table .table-line .block-table .first *{
  margin-left: 0;
}
.movie-table .table-line .block-table .first .title{
  width: 100%;
}
.movie-table .table-line .block-table .first .duration{
  font-size: var(--type-small);
  order: -1;
  margin-left: .5em;
}


/* enter the cinema */
#body .wrapper{
  position: relative;
  min-height: 100vh;
  z-index: 1;
}
#body .wrapper, .header{
  transform: none;
  transition: transform var(--transition-long);
}
#body .wrapper.cinema-open, .cinema-open{
  transform: translateY(-100%);
  max-height: 100%;
  overflow: hidden;
  pointer-events: none;
}



/* Cinema */
.cinema-wrapper{
  position: fixed;
  background: var(--color1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.cinema-wrapper .cinema-interface{
  position: fixed;
  top: 0;
  right: 0;
  height: 5em;
  width: 100%;
  padding: var(--margin);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 1;
  transition: opacity var(--transition-short);
}
.cinema-wrapper .cinema-interface button{
  padding: var(--marginhalf) var(--margin);
  background: var(--color5);
  border: 0;
  color: var(--color9);
}
.cinema-wrapper .cinema-interface.fade-out{
  opacity: 0;
}
.cinema-wrapper .chat-button::before{
  content:"[Open Chat]"
}
.cinema-wrapper .chat-button.chat-open::before{
  content:"[Close Chat]"
}
.cinema-wrapper .cinema-button{
  margin-right: var(--margin);
}
.cinema-wrapper .cinema-container{
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.cinema-wrapper .cinema-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cinema-wrapper .chat-container{
  width: 0;
  max-width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -30em;
  transition: right var(--transition-long);
}
.cinema-wrapper .chat-container.chat-open{
  width: 100%;
  right: 0;
  border-left: 1px solid black;
}
.cinema-wrapper .chat-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* bigger */
@media only screen and (min-width: 600px) {
  /* top section */
  .top-section {
    margin-top: calc(5em - var(--marginhalf));
  }
  .top-section .now-playing {
    margin: var(--marginhalf) 0;
    padding: var(--marginhalf) 0;
  }
  hr{
    margin: var(--marginhalf) 0;
  }
  .top-section .intro {
    margin-bottom: 1em;
  }
  .top-section .navigation {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }
  .top-section .navigation .location, .top-section .navigation .enter, .top-section .navigation .mode {
    width: unset!important;
    order: unset!important;
    margin: 0;
    padding: 0;
  }
  .top-section .navigation .enter li:first-of-type, .top-section .navigation .mode .label{
    height: 4em;
  }
  .top-section .location li:first-of-type{
    font-size: var(--type-big);
  }
  .cinema-button, .chat-button{
    font-size: var(--type-big);
  }
  /* Menu */
  nav.main-nav{
    width: 20em;
    padding: var(--margin);
  }
  nav.main-nav li {
    margin-bottom: var(--margin);
  }
  nav .close-menu {
    right: var(--margin);
  }
  nav.main-nav img {
    width: 100%;
    margin-left: 0;
    padding-left: 4em;
    margin-top: -3em;
  }
  /* Cinema */
  .cinema-wrapper .chat-container.chat-open{
    width: 30em;
  }
}



/* actual desktop */
@media only screen and (min-width: 900px) {
  :root{
    --margin: 20px;
    --type-small: 20px;
    --type-reg: 20px;
    --type-big: 30px;
  }
  /* header */
  .header .logo.left{
    width: 9em;
  }
  .header .context{
    display: block;
  }
  .header #toggle-menu{
    position: absolute;
    right: var(--margin);
    width: 4em;
  }
  .header .light-dark{
    width: 9em;
    padding-right: 4em;
  }
  .table-header{
    height: 5em;
    background: none;
    color: var(--color1);
    border: none;
  }
  .movie-table{
    border-top: 1px solid var(--color1);
    margin-bottom: 0;
  }
  .movie-table .table-line.first {
    display: block;
    height: auto;
    background: var(--color2);
    color: var(--color9);
  }
  .movie-table .table-line.first *{
    text-decoration: none;
  }
  .movie-table .table-line.first .selected.asc::after{
    content: "▲";
    font-size: .5em;
    margin-left: .5em;
  }
  .movie-table .table-line.first .selected.desc::after{
    content: "▼";
    font-size: .5em;
    margin-left: .5em;
  }
  .movie-table .table-line ul li {
    padding: var(--marginhalf) var(--margin);
  }
  .movie-table .table-line .block-table .title{
    overflow: unset;
    text-overflow: unset;
    white-space: unset;
  }
  .movie-table .table-line:not(.block) ul li {
    display: flex;
    align-items: center;
  }
  .movie-table * {
    order: unset!important;
  }
  .movie-table .table-line ul>*{
    flex: 1;
    border-left: 1px solid var(--color1);
    height: 100%;
    margin-left: 0!important;
  }
  .movie-table .table-line ul>*:first-child{
    border-left: 0;
  }
  .movie-table .table-line ul>.img{
    flex: revert;
    width: calc( 5 * var(--type-reg) / 9 * 16 );
  }
  .movie-table .table-line ul>.title{
    flex-grow: 3;
  }
  .movie-table .table-line ul>.author{
    flex-grow: 2;
  }
  .movie-table .block-table .table-line {
    flex: revert;
    padding: 0;
  }
  .movie-table .block-table .table-line.first {
    background: inherit;
    color: inherit;
    border-left: 1px solid var(--color1);
    padding: 0;
  }
  .movie-table .block-table .table-line li {
    display: flex;
    align-items: center;
  }
  .movie-table .table-line .block-table .img {
    width: calc( 5 * var(--type-reg) / 9 * 16 - var(--margin) - 1px)
  }
  .movie-table .table-line .block-table .first .title {
    flex-basis: 0;
    flex-grow: 4;
  }
  .movie-table .table-line .block-table .first .author {
    flex-basis: 0;
    flex-grow: 2.07;
  }
  .movie-table .table-line .block-table .first .department-start {
    flex-basis: 0;
    flex-grow: 1.03;
  }
  .movie-table .table-line .block-table .first .duration {
    flex: revert;
    width: calc(((100% + 2 * var(--margin)) - 8.888888em) / 7 - 4px);
  }
  .movie-table .table-line .block-table .duration {
    flex: revert;
    width: calc(((100% + 2 * var(--margin)) - 8.888888em) / 7 * 2 + var(--margin) - 6px);
  }
  .movie-table .table-line .block-table .title {
    flex-grow: 2.99;
  }
}



/* max width */
@media only screen and (min-width: 1600px) {
  .header .wrapper{
    max-width: 1600px;
    margin: 0 auto;
    padding: var(--margin) 0;
  }
  nav.main-nav{
    right: calc((100% - 1600px) / 2);
  }
  .header #toggle-menu{
    right: calc((100% - 1600px) / 2);
  }
  #body .wrapper{
    padding: var(--margin) calc( (100% - 1600px) / 2);
  }
}
