/* testing */
img{
  width: 100px;
}
.selected.asc{
  color: red;
}
.selected.desc{
  color: green;
}



/* variables */
:root{
  /* type */
  --type-small: 12px;
  --type-reg: 16px;
  --type-big: 20px;

  /* color */
  --color1: black; /* black */
  --color2: #693220; /* brown, dark */
  --color3: #FCD3DA; /* pink */
  --color4: #FFF0E9; /* beige */
  --color5: #FF1A41; /* red */
  --color6: #A1D2FF; /* blue */
  --color7: #00FF67; /* green */
  --color8: #FF7B22; /* orange */
  --color9: white; /* white */

  /* margins */
  --margin: 10px;
  --marg2x: calc( 2 * var(--margin) );
  --marg3x: calc( 3 * var(--margin) );

  /* animation */
  --transition-short: .1s;
  --transition-med: .3s;
  --transition-long: .8s;
}
.light{

}
body.dark{
  --color1: white; /* black */
  --color2: #E1CFC6; /* brown, dark */
  --color3: #554A46; /* pink */
  --color4: #131312; /* beige */
  --color5: #1AFFF1; /* red */
  --color6: #FBC357; /* blue */
  --color7: #4371EA; /* green */
  --color8: #DD5442; /* orange */
  --color9: black; /* white */
}



/* Core Stuff */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: var(--type-reg);
  line-height: 1.2;
  background: var(--color4);
  color: var(--color1);
}
hr{
  border: none;
  border-bottom: 1px solid var(--color1);
  margin: var(--margin) 0;
}
.hide{
  display: none;
}



/* Light mode/Dark mode */
.light .dashboard .mode .dark{
  display: none;
}
.dark .dashboard .mode .light{
  display: none;
}



/* menu/navigation */
.header{
  border-bottom: 1px solid var(--color1);
  position: fixed;
  width: 100%;
  top: 0;
  background: inherit;
  z-index: 2;
}
.header .wrapper{
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--margin);
}
.header .context{
  display: none;
}
.header .light-dark{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .light-dark .label svg{
  height: 1.25em;
  margin-bottom: -.4em;
}
/* dark/light switch */
/* The switch - the box around the slider */
.light-dark .switch {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1.25em;
}
/* Hide default HTML checkbox */
.light-dark .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.light-dark .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color9);
  border: 1px solid var(--color1);
}
.light-dark .slider:before {
  position: absolute;
  content: "";
  height: calc(1.25em - 2px);
  width: calc(1.25em - 2px);
  left: 0;
  bottom: 0;
  background-color: var(--color2);
  transition: transform var(--transition-short);
}
.light-dark input:checked + .slider:before {
  transform: translateX(calc(2em - 1.25em));
}
/* Rounded sliders */
.light-dark .slider.round {
  border-radius: 1.25em;
}
.light-dark .slider.round:before {
  border-radius: 100%;
}
/* Actual Menu */
nav.main-nav{
  position: fixed;
  top: var(--margin);
  /* right: var(--margin); */
  right: 100px;
  padding: var(--margin);
  background: var(--color7);
  border-radius: var(--margin);
}



/* Body */
#body .wrapper{
  background: var(--color4);;
  position: relative;
  z-index: 1;
  padding: var(--margin);
}
/* Top Section */
.top-section{
  margin-top: 5em;
}
.top-section .intro em{
  font-style: normal;
  color: var(--color5);
}
.top-section .playorder{
  display: none;
}
.top-section .now-playing{
  margin: 0;
  padding: var(--margin) 0;
  background: var(--color2);
  border: 1px solid var(--color1);
  color: var(--color9);
}
.top-section .now-playing em{
  color: var(--color7);
}
/* enter the cinema */
#body .wrapper{
  position: relative;
  min-height: 100vh;
  z-index: 1;
}
#body .wrapper, .header{
  transform: none;
  transition: transform var(--transition-long);
}
#body .wrapper.cinema-open, .cinema-open{
  transform: translateY(-100%);
  max-height: 100%;
  overflow: hidden;
  pointer-events: none;
}



/* Cinema */
.cinema-wrapper{
  position: fixed;
  background: var(--color1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.cinema-wrapper .cinema-interface{
  position: fixed;
  top: 0;
  right: 0;
  height: 5em;
  padding: var(--margin);
  z-index: 2;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity var(--transition-short);
}
.cinema-wrapper .cinema-interface.fade-out{
  opacity: 0;
}
.cinema-wrapper .chat-button::before{
  content:"[Open Chat]"
}
.cinema-wrapper .chat-button.chat-open::before{
  content:"[Close Chat]"
}
.cinema-wrapper .cinema-button{
  margin-right: var(--margin);
}
.cinema-wrapper .cinema-container{
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.cinema-wrapper .cinema-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cinema-wrapper .chat-container{
  width: 0;
  max-width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -30em;
  transition: right var(--transition-short);
}
.cinema-wrapper .chat-container.chat-open{
  width: 30em;
  right: 0;
  border-left: 1px solid black;
}
.cinema-wrapper .chat-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
